.inputBox {
  display: flex;
  flex-direction: column;

  width: 50rem;

  padding: 2rem 4rem;
  background-color: var(--white-100);
  border-radius: 2rem;
}

.inputBox input {
  padding: 2rem 2rem;
  margin-bottom: 1rem;

  border-radius: 0;

  border-bottom: 1px solid var(--grey-100);
}

.inputBox textarea {
  resize: none;
  border: none;
  background-color: var(--white-100);
  font-size: 18px;
  font-family: "Circular Std Book";
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
}

.inputBox button {
  margin-top: 5rem;
}
