.footer {
  width: 100%;
  height: 10rem;

  padding: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span {
  font-size: 1.8rem;
}

.iconsBox {
  display: flex;
  gap: 1.4rem;
}

.iconsBox svg {
  cursor: pointer;
}

.footerIcon {
  cursor: pointer;
}
