.header {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2.8rem 4rem;
}

.logoWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoImage {
  height: 60px;
}

.logoText {
  font: bold 40px "Circular Std Book";
  color: #FF3E3E;
  margin: 3px 5px 0px 15px;
  letter-spacing: 1px;
}

.link {
  font-size: 1.8rem;
}

.rightBox {
  display: flex;
  align-items: center;

  gap: 2.5rem;
}
