.imageBox {
  position: relative;

  width: 100%;
  height: 150rem;
}

/* IMAGES */
.image1 {
  position: absolute;
  top: 0;
  right: 5%;

  object-fit: cover;

  width: 35rem;
  height: auto;
}

.image2 {
  position: absolute;
  top: 35%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  object-fit: cover;

  width: 40rem;
  height: auto;
}

.image3 {
  position: absolute;
  top: 0%;
  left: 0%;

  object-fit: cover;

  width: auto;
  height: 35rem;
}

.image4 {
  position: absolute;
  top: 30%;
  left: 5%;

  object-fit: cover;

  width: 40rem;
  height: auto;
}

.image5 {
  position: absolute;
  top: 50%;
  right: 0%;

  object-fit: cover;

  width: auto;
  height: 35rem;
}

.midBox {
  position: absolute;
  top: 40%;
  left: 50%;

  transform: translateX(-50%) translateY(-50%);

  width: 70%;
  background-color: rgba(242, 242, 245, 0.75);

  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  display: flex;
  justify-content: space-around;

  border-radius: 2rem;

  z-index: 100;
}

.metricBox {
  display: flex;
  flex-direction: column;
  align-items: center;

  align-content: center;

  padding: 6rem 2rem;
}

.headNumber {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.spanText {
  font-size: 2.4rem;
}
