.mobileDescriptionBox {
  display: flex;
  flex-direction: column;
  align-content: center;

  width: 36rem;
}

.image {
  width: 35rem;
  height: auto;

  margin-bottom: 6rem;
}

.description {
  font-size: 2rem;
}
