:root {
  --primary: rgb(
    255,
    62,
    62
  ); /* original:  #ff2633, changed due to contrast issues */

  --white: #fff;
  --white-100: #f2f2f5;
  --white-200: #f7f7fa;

  --grey: #757575;
  --grey-100: #e2e2e2;

  --light-background: rgba(242, 242, 245, 0.9);

  --light-text-linear-light: rgba(0, 0, 0, 0.1);
  --light-text-linear-ultra-light: rgba(0, 0, 0, 0.06);
}
